@import "../variables";

.main-auth-form {
	display: flex;
	justify-content: center; 
	align-items: center;
	flex-direction: column;
	height:100vh;

	#main-login-form, #main-create-form{
		label{
			display: block;
			width: 100%;
			margin-bottom:3px;
		}
		
		input{
			display: block;
			margin: 0 0 20px;
			width: 100%;
		}
	}

	button{
		color: $color-highlight;
		background: transparent;
		border:1px solid $border-panel;
		padding: 5px 20px;
		border-radius: 3px;
		width:100%;
		cursor: pointer;

		&:hover{
			background: $border-panel;
		}
	}
}


.login-error{
	background: $color-danger;
	padding: 0 5px;
	border-radius: 3px;
	margin-top:15px;

	p{
		color: $color-highlight;
	}
}